*{   box-sizing: border-box;     font-family: Ubuntu,Arial, Helvetica, sans-serif;   transition: 0.25s;}

html{     scroll-behavior: smooth;}

.max-width{  max-width: 1170px;  margin: auto;  padding: 0 15px; }

.container{  display: flex; justify-content: space-between;    align-items: center;     margin: 0 -15px; }

body{     margin: 0;     padding: 0;  }

.btn{     background-color: #689cf0;    border: 1px solid #698cf0;    }
.btn:hover{    background-color: #1c1c1c !important;    border: 1px solid #999;}

.divider{   display: inline-block;   height: 10px;  width: 62px;   background-image: url('media/divider-mini.png');  margin-bottom: 5px; }

.rd-more, .ord-now{  text-decoration: none;  color: #698cf0;  font-size: 14px; font-weight: 700;    }

h2 span{  color: #698cf0;     }

p span{   display: block;}


/* Header */
header{   background-color: #1c1c1c;    padding: 34px 0 70px; position: relative;    }
header .container{  display: flex; justify-content: space-between;    align-items: center;     }
header .container img{   height: fit-content;  width: auto;     }

     /* Header list */
     header #mobi-nav, #mobi-nav .mobile-menu{   display: none;}
     header  .container > ul{     list-style: none;   margin: 0;     padding: 0 15px;    display: flex;    }
     header .header  .container > ul li{     padding: 0 55px;    position: relative;}
     header .header  .container > ul li>*{   display: block;     text-align: right;}
     header .header .container > ul li::after{   content: "";   display: inline-block;   height: 40px;  width: 40px;   padding: 5px;   border: 1px solid #292929;  border-radius: 50px;     position: absolute;  right: -45px;  top: 50%; transform: translate(-50%, -50%);}
     header .header  .container > ul li::before{  content: "\f0e0";   display: inline-block;   position: absolute; font-family: fontawesome;     color: #698cf0;     top: 50%; right: 0;  font-size: 18px; transform: translate( 1px, -50%);    }
     header .header  .container > ul li:last-child::before{ content: "\f095";   font-size: 20px;}
     header .header li strong{   color: #999;   font-size: 14px;    margin-bottom: 5px; }
     header .header li a{   color: white;  text-decoration: none;   font-size: 14px;}

     /* Nav Menu */
     nav{     margin-top: -35px;    position: sticky;   z-index: 500;    top: 0;   width: 100%;   }
     .nav-menu .container{  background-color: #fff;      padding: 17px 30px;  border-radius: 4px; }
     .nav-menu ul{     padding: 0;    margin: 0;  list-style: none;   }
     .nav-menu li{     padding: 0 15px;    display: inline-block;     }
     .nav-menu .left li:first-child{   padding-left: 0;}
     .nav-menu li a{   text-decoration: none;   color: #333;    font-weight: 600;    font-size: 14px;    }
     .nav-menu li a:hover, header .nav-menu li a:focus{  color: #698cf0;     }
     .nav-menu .right li{   background-color: #698cf0;    padding: 10px 15px; border-radius: 3px; }
     .nav-menu .right li:hover{  background: #1c1c1c;     }
     .nav-menu .right li:hover a{     color: #698cf0;     }
     .nav-menu .right li a{ color: #fff;   font-size: 13px;    }

/* Hero Banner */
#hero-bnr{     background-image: url(Media/hero\ banner.jpg);     background-position: center center;    background-size: cover;  background-repeat: no-repeat; background-attachment: fixed; margin-top: -40px;}
#hero-bnr .container{    align-items: flex-start;}
#hero-bnr .overlay{ width: 100%;   height: 100%;  background-color: rgba(0, 0, 0, 0.75);   padding: 220px 0;   }
#hero-bnr .left{    color: #fff;    }
#hero-bnr .left h2{ font-size: 48px;    margin: 0 0 18px;  }
#hero-bnr .left img{     position: absolute; right: 80px;   top: 250px;    }
#hero-bnr .left .divider{     margin: 0 0 45px;   ;}
#hero-bnr .left>:last-child{       display: block;     padding: 18px 20px; background: #698cf0; width: fit-content;  border-radius: 2px;   font-size: 14px;  font-weight: bold;      line-height: 1.714; }
#hero-bnr .container .left{   width: 60%;    position: relative;}
#her-bnr .left img{ position: absolute; left: 450px;    top: 250px;   }
#hero-bnr .container .right{  width: 460px;    }
#hero-bnr .right{     background: url("Media/Reg\ Now\ Background.jpg");      padding: 55px 30px 70px; text-align: center;   margin: -95px 0;    border-radius: 3px; }
#hero-bnr .right input{  display: block;   width: 100%;     padding: 6px 23px;  height: 48px;  outline: 0;    border: none; border-radius: 4px; border: 1px solid #eee;   margin-bottom: 20px;     background-color: #f5f5f5}
#hero-bnr form ::placeholder{     opacity: .7;}
#hero-bnr .right h2{ font-size: 28px;    margin: 0 0 5px;}
#hero-bnr .right p{ margin: 0 0 49px;     }
#hero-bnr .form-msg span:first-child{   font-size: 11px;    padding-left: 20px; opacity: .5;   position: relative; }
#hero-bnr form span:last-child{    background-color: #698cf0;    padding: 10px 15px;  font-size: initial; color: #fff;   font-weight: bold;  line-height: 1.7;  border-radius: 3px; }
#hero-bnr .form-msg{     display: flex; justify-content: space-between;    align-items: center;     }
#hero-bnr .form-msg span:first-child::after{ content: "i"; background-color: #0042ff;     border-radius: 50%;     color: #fff;   padding: 1px 5px;    position: absolute; top: 0;   left: 0;  ;}

/* About Swan Lake */
#aboutsl{ padding: 120px 0 60px;   background-color: #fff;}
#aboutsl .container{     display: block;     text-align: center;}
#aboutsl h2{   color: #333;    font-size: 28px;    margin: 0 0 18px;   }
#aboutsl .container>p{   margin: 15px auto 76px;  color: #999;     font-size: 14px;  padding: 0 15px;}
#aboutsl .row{ width: 100%;   display: flex; flex-flow: row wrap;     }

     /* About boxes */
     #aboutsl .row .about-box{     width: 25%;    text-align: left;   padding: 0 15px 60px 15px;    }
     #aboutsl .about-box h2{  color: #698cf0}
     #aboutsl .about-box strong{   display: block;     margin: 0 0 10px;   font-size: 18px;    }
     #aboutsl .about-box .divider{ width: 35px;   margin: 0 0 17px;   }
     #aboutsl .about-box p{     width: 95%;    line-height: 22px; opacity: 0.5;  }
     #aboutsl .about-box p, #aboutsl .about-box a{     font-size: 12px;    }

/* Counter Box */
#counter-sec{  padding: 120px 0;   background: url('media/Counter\ section.jpg'); background-position: center; background-repeat: no-repeat;   background-size: cover;  }
#counter-sec .counter-box{    width: 25%;    text-align: center; padding: 20px; }
#counter-sec .counter-box h2{ color: #698cf0;     font-size: 72px;    font-weight: 500;  font-family: Open Sans;    margin: 0;    line-height: 1;     }
#counter-sec .counter-box p{  color: #999;     margin: 0;     } 

/* Services */
#services {    padding: 120px 0 60px;   }
#services .container{    align-items: flex-start; margin: 0 -30px;    }
#services .container>*{     padding: 0 15px 60px;   }
#services .left, #services .right{    width: 50%;    height: 100%;}
#services .left ul{ list-style: none;   padding: 0;    margin: 0;   border-radius: 4px;   overflow: hidden;    background-image: url('media/services\ box\ background.jpg'); background-position: center;     background-repeat: no-repeat; }
#services .left .bg-trans{    background: rgba(21,21,21,0.8);    }
#services .right .txt-box{    padding:40px 0 0 40px;   }
#services .right h2, #services .right p,#services .right ul{     margin: 0;     padding: 0;    list-style: none;   }
#services .right h2{     color: #333;   font-size: 28px;     margin: 0 0 25px;    }
#services .right .divider{    margin: 0 0 17px;   }
#services .right p{ color: #999;   font-size: 14px;    font-family: open sans;  margin-bottom: 30px;     line-height: 25px;  ;}
#services .right ul{     padding-left: 20px; }

     /* List Items */
     #services .left li{ text-align: center; overflow: hidden;   width: 50%;    height: 230px; float: left;   background-color: #212121; padding: 0 15px;   }
     #services .left li:hover .icon::after{  margin-top: -30px;  opacity: 0;    transition: 0.3s ease-in-out;   transform: translateY(-30px); }
     #services .left li .icon::after{  content: '\e005';   display: inline-block;   font-size: 50px; font-family: 'icomoon'; color: #698cf0;  margin: 60px 0 30px;  }
     #services .left li:nth-child(2) .icon::after{ content: '\e000';  }
     #services .left li:nth-child(3) .icon::after{ content: '\e031';  }
     #services .left li:nth-child(4) .icon::after{ content: '\e02b';  }
     #services .left li h4{   color: #698cf0;     font-size: 18px;    margin: 0 0 15px;   font-weight: 700;   }
     #services .left li .divider{  width: 35px;   }
     #services .left li:hover p{   opacity: 1;    transition: 0.3s    ease-in-out;   }
     #services .left li p{    color: #999;   margin: 20px 0 0;   font-size: 14px;    opacity: 0;}
     #services .right ul li{  text-transform: capitalize;   font-weight: 600;   line-height: 35px;  color: #777;   font-size: 14px;    }
     #services .right ul li::before{    content: '\f0da'; font-family: fontawesome;  color: #698cf0;     margin-left: -15px; padding-right: 15px;     font-size: 16px;    display: inline-block;   vertical-align: middle;  }


/* Pricing Table */
#pricing-tbl .max-width{ padding : 0 15px;   }
#pricing-tbl{  padding: 120px 0 60px;   background-image: url('media/Reg\ Now\ Background.jpg');    background-size: cover;  background-repeat: no-repeat; background-position: center center;}
#pricing-tbl .container{ display: block;     text-align: center; }
#pricing-tbl .container > .divider{     width: 48px;     margin-bottom: 15px;     }
#pricing-tbl .container > p{     margin:   0; margin-bottom: 70px;     color: #999;  font-size: 14px;    }

     /* pricing lists */
     #pricing-tbl ul{    list-style: none;   margin: 0; padding: 0;   display: flex; justify-content: space-between;}
     #pricing-tbl li{    text-align: left;   width: 30%;    padding-bottom: 60px;    }
     /* First Child in List */
     #pricing-tbl li div:first-child{   border: 1px solid #eee;  padding : 30px 35px;     background-color: #fff;  }
     #pricing-tbl li div:first-child strong{ font-size: 14px;    color: #333;   display: block;     }
     #pricing-tbl li div:first-child  h2{ font-size: 14px;   display: inline-block;   vertical-align: bottom; color: #999;     font-weight: 400;   }
     #pricing-tbl li div:first-child h2 span{ font-size: 38px;   display: inline-block;   vertical-align: bottom;     font-family: open sans;  line-height: 35px;  }
     #pricing-tbl li div:first-child p{ margin: 0;     font-size: 13px;    color: #999;   }
     /* Last Child in List */
     #pricing-tbl li div:last-child{    border: 1px solid #eee;  padding : 40px 35px;     background-color: #fff;     }
     #pricing-tbl li div:last-child h2{ color: #333;   font-size: 18px;    margin: 0 0 20px;   }
     #pricing-tbl li div:last-child .divider{     width: 35px;   margin-bottom: 5px;     }
     #pricing-tbl li div:last-child p{    color: #999; margin: 0;     margin-bottom: 25px;     line-height: 22px;  }     


/* Get a free quote today */
#cre-un{  position: relative; padding: 120px 0;   background-image: url('media/free\ quote\ background\ image.jpg');    background-position: center center; background-size: cover; background-attachment: fixed; }
#cre-un::after{     content: "";   background-color: #000;  position: absolute; z-index: 0;    top: 0;   left: 0;  width: 100%;   height: 100%;  opacity: 0.8;  }
#cre-un .container{ display: block;     text-align: center; color: #f8f8f8; position: relative;   z-index: 5;    }
#cre-un .container span:first-child{    font-size: 14px;    line-height: 1.7;   font-family: open sans;  }
#cre-un h1{    margin: 7px 0 20px;   font: 700 48px ubuntu; color: #698cf0;  }
#cre-un .container p{    font-size: 14px;    line-height: 1.7;   margin: 10px 0 50px;   }
#cre-un .container > span:last-child{     background: #698cf0;     padding: 18px 40px;  font-size: 14px;    font-weight: 700;   line-height: 1.7;   border-radius: 2px; letter-spacing: .5px;     }


/* Footer */
footer{   background-color: #1c1c1c;    padding: 30px 0; position: relative;    }
footer .container{  display: flex; justify-content: space-between;    align-items: center;     }
footer .container img{   height: fit-content;  width: auto;     }
          
     /* Footer list */
     footer ul{     list-style: none;   margin: 0;     padding: 0 15px;    display: flex;    }
     footer .footer li{     padding: 0 55px;    position: relative;}
     footer .footer li>*{   display: block;     text-align: right;}
     footer .footer li::after{   content: "";   display: inline-block;   height: 40px;  width: 40px;   padding: 5px;   border: 1px solid #292929;  border-radius: 50px;     position: absolute;  right: -45px;  top: 50%; transform: translate(-50%, -50%);}
     footer .footer li::before{  content: "\f0e0";   display: inline-block;   position: absolute; font-family: fontawesome;     color: #698cf0;     top: 50%; right: 0;  font-size: 18px; transform: translate( 1px, -50%);    }
     footer .footer li:last-child::before{ content: "\f095";   font-size: 20px;}
     footer .footer li strong{   color: #999;   font-size: 14px;    margin-bottom: 5px; }
     footer .footer li a{   color: white;  text-decoration: none;   font-size: 14px;}

     /* Footer Bottom */
     #footer-btm{      margin-top: 20px;       padding: 0 15px;  }
     #footer-btm .container{   border-top: .5px solid #292929;  padding: 25px 20px;     color: #999;    font-size: 14px;    margin: 0 -35px; }
     #footer-btm .container .sm-icons a{     text-decoration: none;   color: #666;     }
     #footer-btm .container .sm-icons a:hover{    color: #fff;   }
     #footer-btm .container .sm-icons span::after{     font-family: fontawesome; font-size: 16px;   padding: 0 15px;    }
     #footer-btm .container .sm-icons  a:nth-child(1) span::after{  content: "\f09a";       }
     #footer-btm .container .sm-icons  a:nth-child(2) span::after{  content: "\f1b4";   }
     #footer-btm .container .sm-icons  a:nth-child(3) span::after{  content: "\f099";   }
     
/* Go to top */
#got {    padding: 15px 15px;     border-radius: 3px; background-color: #252525;     display: inline-block;   position: sticky; top: 91%;  left: 90%;       right: 20px;  z-index: 50; }
#got a{   text-decoration: none;  color: #fff;     scroll-behavior: smooth;}
#got a::after{ content: "\f077";    font-family: 'FontAwesome';  font-size: 18px;    display: inline-block;}


/* Media Query starts from here */

/* @media screen and (min-width: 2062px){
     nav{ margin-top: -35px;    }
}

     r@media screen and (max-width: 1819px) {
     #hero-bnr{     margin-top: -3.5%;    }
} */

@media screen and (max-width: 1219px) {
     .max-width{    max-width: 970px;   }
     .rd-more, .ord-now{ font-size: 12px;    }

     /* Hero Banner */
     #hero-bnr .container .right{  width: auto;   }
     #hero-bnr .form-msg{     flex-flow: row wrap;     justify-content: center;}
     #hero-bnr form span:last-child{    margin-top: 20px;   }

     /* Services */
     #services .right p{ margin-bottom: 15px;     }
     #services .right ul li{  line-height: 30px;  }

     /* Pricing Table */
     #pricing-tbl li div:first-child p{ font-size: 12px;    }
     #pricing-tbl li div:last-child p{  font-size: 14px;    }
}

@media screen and (max-width: 1019px){
     .max-width{    max-width: 750px;   }

     /* Hero Banner */
     #hero-bnr .overlay{ padding: 150px 0;   }
     #hero-bnr .left img{         position: absolute;  height: 70px;    right: 50px;  top: 250px;   }
     #hero-bnr .left h2{ font-size: 33px;    }
     #hero-bnr .right{   padding: 40px 20px 50px; margin: -38px 0;}

     /* Services */
     #services .left{    width: 60%;    }
     #services .right .txt-box{    padding: 10px; }
}

@media screen and (max-width: 899px) {
     .max-width {   max-width: 700px;   }
     p span{   display: inline;    }
     .container{    flex-flow: row wrap;     justify-content: center;}

     /* Hero Banner */
     #hero-bnr .container{    flex-wrap: nowrap;}

     /* About us */
     #aboutsl .about-box p, #aboutsl .about-box a{     font-size: 13px;    }
     #aboutsl .row .about-box{     width: 100%;    }
     #aboutsl .about-box .divider{ margin: 0;     }

     /* Counter Section */
     #counter-sec .container h2{    font-size: 50px;    }
     #counter-sec .counter-box p{     font-size: 14px;    }
     #counter-sec .counter-box{    width: 100%;   }

     /* Services */
     #services .container{    flex-flow: row wrap-reverse;  }
     #services .left, #services .right{ width: auto;}
     #services .right{   padding-left: 50px;}

     /* Pricing List */
     #pricing-tbl ul{    flex-flow: row wrap;}
     #pricing-tbl li{    width: 48%;    }
}

@media screen and (max-width: 768px){
     .max-width{    max-width: 970px;   }
     .container{    margin: 0;     }
     /* Header */
     header{   padding: 20px 15px; }
     header .container > ul{     display: none; }
     header #mobi-nav{   display: block;    }
     header #mobi-nav::after{ content: "\f0c9";   font-size: 30px;    font-family: FontAwesome;     color: #698cf0;     }
     header #mobi-nav:hover .mobile-menu,   header #mobi-nav:focus .mobile-menu{     display: block;     position: absolute; top: 100px;    left:0;   width: 100%;  z-index: 399;   }
     header #mobi-nav .mobile-menu ul{  padding: 0;    margin: 0;     list-style: none;   }
     header #mobi-nav .mobile-menu li{   background-color: #f8f8f8;    padding: 10px 20px; }
     header #mobi-nav .mobile-menu li a{     color: #212121;     font-weight: 700;   }


     /* Navigation Bar */
     nav{ display: none;}

     /* Hero Banner */
     #hero-bnr .left img{     display: none; }
     #hero-bnr .container{    flex-flow: row wrap;}
     #hero-bnr .container .right, #hero-bnr .container .left{    width: 100%;   }
     #hero-bnr .container .right{  margin: 0;     margin-top: 80px;}
     #hero-bnr .form-msg{     justify-content: space-between;    align-items: center;     }
     #hero-bnr form span:last-child{    margin: 0;     }

     /* About Swan Lake */
     #aboutsl .max-width{     padding: 0;    }

     /* Services */
     #services .max-width{    padding: 0;}
     #services .container{    margin: auto;}
     #services .right .txt-box{    padding: 0;    }
     #services .left ul{     background-repeat: repeat-y;   background-position: center -40px;    background-size: contain;  }
     #services .left li{ width: 100%;   }
     #services .left ul .bg-trans{ background-color: #212121;}
     #services .left ul .mob-bg-tr{     background-color: rgba(21,21,21,0.8);   }

     /* Pricing Table */
     #pricing-tbl ul li{ width: 100%;   }
     #pricing-tbl li div:first-child{   padding: 30px 70px; }
     #pricing-tbl li div:last-child{    padding: 40px 70px; }

     /* Creative unbounce landing page */
     #cre-un{  background-position: center left -200px;     }

     /* Footer */
     footer .footer .container{  display: block;     }
     footer .footer ul{  padding:  40px 0 0;}
     footer .footer li>*{     text-align: left !important;   }
     footer .footer li{  padding: 0 20px 0 60px;  }
     footer .footer li::after{     left: 25px;  }
     footer .footer li::before{    left: 15px;    }
     #footer-btm{   padding: 0;    }
     #footer-btm .container{  margin: 0;     padding: 20px 0;    }

     /* Go to top */
     #got{     top: 80%; }
}

@media screen and (max-width: 480px) {
     

     /* Footer */
     footer .footer ul{     display: block;  padding: 0;}
     footer .footer ul li{        margin-top: 30px;     }
}